<h1>{{name}}</h1>
<img style="width: 800px; height:500px" src={{linkImg}} alt={{name}}>
<p>{{category}}</p>
<p>{{description}}</p>
<p>Nota de 0 a 10: {{nota}}</p>
<a href={{searchGoogle}}>Ir para o google</a>