<div class="modal">
<h3>{{name}}</h3>
<img src={{linkImg}} alt={{name}}>
<div class="modal-text">
<p><span class="bold">Categoria: </span>{{category}}</p>
<span class="bold">Descrição:</span>
<textarea disabled>{{description}}</textarea>
<p><span class="bold">Nota de 0 a 10: </span>{{nota}}</p>
</div>
<a target="_blank" href={{searchGoogle}}>Ir para o google</a>
</div>